<div id="flash">
  <% flash.each do |type, message| %>

    <%# <div popover class="flash flex flex-col" data-controller="element-removal"  %>

      <% if type == 'notice' %>
        <div class="popover--notice flex items-start gap">
          <%= icon "terminal", size: 16, aria: { hidden: true } %>
          <div class="flex flex-col">
            <h5 class="font-medium leading-none mbe-1">Heads up!</h5>
            <p><%= message %></p>
          </div>
        </div>
      <% else %> <%# alert %>
        <div class="popover--alert flex items-start gap">
          <%= icon "circle-alert", size: 16, aria: { hidden: true } %>
          <div class="flex flex-col">
            <h5 class="font-medium leading-none mbe-1">Error</h5>
            <p><%= message %></p>
          </div>
        </div>
      <% end %>

    <%# </div> %>
  <% end %>
</div>